body {
  font-family: 'Montserrat', sans-serif;
}

/*

Parte encabezado

*/

.encabezado {
  background-color: #79bbea;
  padding: 20px 0;
}

.caja {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.navbar {
  position: absolute;
  top: 110px;
  right: 0;
}

.navbar li {
  display: inline;
  margin: 0 0 0 15px;
}

.navbar a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.navbar a:hover {
  color: #c73019;
  text-decoration: underline;
}

/*

Parte Listado de Productos

*/

.lista-productos {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

.lista-productos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

.lista-productos li:hover {
  border-color: #193fc7;
}

.lista-productos li:active {
  border-color: #088c19;
}

.lista-productos h2 {
  font-size: 30px;
  font-weight: bold;
}

.lista-productos li:hover h2 {
  font-size: 33px;
}

.producto-descripcion {
  font-size: 18px;
}

.producto-precio {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/*

Parte Footer

*/

.footer {
  text-align: center;
  background-image: url(imagenes/bg.jpg);
  padding: 20px;
}

.footer p {
  color: #ffffff;
  font-size: 13px;
  margin: 20px;
}

@media screen and (max-width: 480px) {
  .caja h1 {
    text-align: center;
  }
  .navbar {
    position: static;
  }
  .caja,
  .lista-productos {
    width: auto;
  }

  .lista-productos li {
    display: block;
    width: 100%;
    margin: 10px 1.5%;
    padding: 20px 15px;
  }
}
